.List input[type='radio'] {
  display: none;
}

.List label {
  display: flex;
  color: powderblue;
  font-weight: bolder;
  font-size: 1rem;
  width: 15rem;
  height: 3rem;
  max-width: 15rem;
  margin: 0.5rem;
  align-items: center;
  justify-content: center;
  border: dotted 0.1vw rgb(197, 197, 197);
  background-color: purple;
  cursor: pointer;
}

.List label:hover {
  background: #004c97;
  color: greenyellow;
  font-weight: bolder;
  width: 15rem;
  height: 3rem;
  margin: 0.5rem;
}

.List input[type='radio']:checked + label {
  background: #004c97;
  color: greenyellow;
  width: 15rem;
}
